<div class="menuItem">
	<a href="index.php?contr=admin&act=manage">Управление администраторами</a>
</div>
<div class="menuItem">
	<a href="index.php?contr=admin&act=reg">Добавление администратора</a>
</div>
<div class="menuItem">
	<a href="index.php?contr=theme&act=manage">Темы</a>
</div>
<div class="menuItem">
	<a href="index.php?contr=question&act=showall">Все вопросы</a>
</div>
<div class="menuItem">
	<a href="index.php?contr=question&act=showallunanswered">Вопросы без ответов</a>
</div>
<div class="menuItem">
	<a href="index.php?contr=admin&act=logout">Выход</a>
</div>