<h2>Перемещение вопроса</h2>
	<form action="index.php" method="get">
		<input type="hidden" name="contr" value="question">
		<input type="hidden" name="act" value="changetheme">
		<input type="hidden" name="questionid" value="{{ question.getId() }}">
		<div class="flexContainer">
			<div>Тема: </div>
			<div>
				<select name="themeid" required>
					{% for theme in themes %}
						{% if theme.getId()==currentTheme.getId() %}
							<option value="{{ theme.getId() }}" selected>{{ theme.getName() }}</option>
						{% else %}
							<option value="{{ theme.getId() }}">{{ theme.getName() }}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>
		<input type="submit" name="submit" value="Сохранить"><br>
	</form>